@{
    ViewData["Title"] = "Confirmación de Restablecimiento de Contraseña";
    Layout = "_LayoutLogin";
}

<div class="card shadow-sm">
    <div class="card-header text-center">
        <h4>Contraseña Restablecida</h4>
    </div>
    <div class="card-body text-center">
        <p>Su contraseña ha sido restablecida exitosamente. Ahora puede iniciar sesión con su nueva contraseña.</p>
        <a asp-action="Login" class="btn btn-primary mt-3">Iniciar Sesión</a>
    </div>
</div>
